.column {
	display: flex;
	flex-direction: column;
	align-items: center;
  border: 1px solid black;
  border-radius: 10px;
	width: 200px;
	height: 100%;
	margin: 5px;
	/* background-color: #9EB7E5; */
	/* background-color: #C7EFCF; */
	background-image: linear-gradient(to bottom, #9EB7E5, #C7EFCF);
}

.column-heading{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.column-title {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
	font-weight: bold;
}



.delete-col {
  cursor: pointer;
  font-family: sans-serif;
}

.column .notes-list{
	display:flex;
	flex-direction: column;
	padding: 10px;
}

.edit-column-submit {
  display: none;
}
