@import url("./note.css");
@import url("./board.css");
@import url("./modal.css");
@import url("./column.css");

.App {
  font-family: "Amatic SC", cursive;
  text-align: center;
  margin: 6rem 0;
}

body {
  font-family: "Amatic SC", cursive;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid grey;
  text-decoration: none;
  background: lightgoldenrodyellow;
  cursor: pointer;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}
