.create-note {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
	background-image: linear-gradient(to bottom, blanchedalmond, burlywood);
	border-radius: 9px;
}
.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Amatic SC", cursive;
  width: 100%;
}

.create-form > input {
  font-weight: 900;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
  margin: 4px;
  border: none;
  width: 90%;
  background: transparent;
}

.create-form > textarea {
	display: flex;
  font-family: "Amatic SC", cursive;
  height: 50px;
  margin: 0px;
  border: none;
  width: 90%;
  background: transparent;
  resize: none;
  font-size: 25px;
}

.render-description {
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
}

.note-heading{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 0px 8px 0px;
}

.note-title {
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	/* max-width: 80%; */
	cursor: pointer;
}

.note-title:hover{
	color: rgb(89, 100, 110);
}

.delete-note {
	align-self: flex-end;
  font-family: sans-serif;
  cursor: pointer;
  display: inline;
}

.note-item {
	background-image: linear-gradient(to bottom, blanchedalmond, burlywood);
  border-radius: 9px;
  margin: 10px 0px; 
	font-weight: 900;
	padding: 0px 10px;
  border-radius: 9px;

}

.note-title {
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 1px;
	font-size: 30px;
	text-align: center;
}

.note-des {
	display: flex;
	flex-direction: column;
	align-items: center;
  
}

.note-des p{
	word-wrap: break-word;
	margin-top: 10px;
	margin-left: 10px;
	margin-right:10px;
	font-size: 22px;
	/* text-align: center; */
}

.add-note {
	font-size: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: sans-serif;
}
